// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-test-nav
{

  width : 100%;
  background : tomato;
  text-align :center;

  .page-test-header
  {
    height: 40px;
    line-height : 40px;
    li
    {
      display: inline-block;
      margin-right: 20px;
      font-family: 'Jua', sans-serif;
    }

    li:hover // 마우스가 위에 올라갔을 때 상태
    {
      border-bottom : 2px solid #cfcfcf;
    }
  }
}

.selection
{
  width : 600px;
  margin : 0 auto;
  border-bottom: 2px solid #cfcfcf;
  text-align: left;
  span
  {
    font-size :20px;
    font-family: 'Jua', Sans-Serif;
  }

  .like-food-select
  {
    float : right;
  }

  &::after
  {
    content: '';
    display: block;
    clear :both;
  }
}